# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [1]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a
b

[1, 2, 3, 4, 5, 6]

In [2]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

b_last_3 = b[3:]
b_last_3

[4, 5, 6]

In [5]:
# @@@ Question 3: Create a list of numbers from 1 to 20
one_to_twenty = list(range(1,21))
one_to_twenty

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
zero_to_hundred = list(range(0,101))
even_zero_to_hundred = zero_to_hundred[::2]
even_zero_to_hundred.pop(0)
even_one_to_hundred = even_zero_to_hundred
even_one_to_hundred

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [22]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second

def diviser(num_one, num_two):
    result = num_one / num_two
    print(result)
    
diviser(1,2)

0.5

In [30]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

nums = list(range(1,31))

for i in range(len(nums)):
    
    if nums[i] % 3 == 0:
        if nums[i] % 5 == 0:
            print("fizzbuzz")
        else:
            print("fizz")
    elif nums[i] % 5 == 0:
        if nums[i] % 3 == 0:
            print("fizzbuzz")
        else:
            print("buzz")
    else:
        print(nums[i])

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [33]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

ahmos_menu = {"Gyro":9, "Burger":9, "Greek Salad":8, "Philly Steak":10}
ahmos_menu

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [36]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd

df = pd.read_csv("../data/starbucks.csv")
type(df)

pandas.core.frame.DataFrame

In [42]:
# @@@ Question 9: select all rows with more than and including 400 calories

# Had trouble with this, promise to understand it soon

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,frappuccino blended crme,strawberries crme (without whipped cream),Soymilk,320,3.2,0.4,0.0,0,250,67,1,64,5.0,6,8,20,10.0,0.0
238,frappuccino blended crme,vanilla bean (without whipped cream),Tall Nonfat Milk,170,0.1,0.1,0.0,0,160,39,0,38,4.0,6,0,10,0.0,0.0
239,frappuccino blended crme,vanilla bean (without whipped cream),Whole Milk,200,3.5,2.0,0.1,10,160,39,0,38,3.0,6,0,10,0.0,0.0
240,frappuccino blended crme,vanilla bean (without whipped cream),Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4,0,10,6.0,0.0
241,frappuccino blended crme,vanilla bean (without whipped cream),Grande Nonfat Milk,240,0.1,0.1,0.0,5,230,56,0,55,5.0,8,0,15,0.0,0.0

In [ ]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content

# Had trouble with this, promise to understand it soon

In [ ]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink

# Had trouble with this, promise to understand it soon

In [ ]:
# @@@ Question 12: what is the average calorie across all items?


# Had trouble with this, promise to understand it soon

In [ ]:
# @@@ Question 13: how many different categories of beverages are there?
# Had trouble with this, promise to understand it soon

In [ ]:
# @@@ Question 14: what is the average # calories for each beverage category?

# Had trouble with this, promise to understand it soon